body {
	
}

.ba-banner {
	background: url(../images/banner.jpg) 100% 100% no-repeat;
	background-size: cover;
}
.ba-post {
	position: relative;
	bottom: -100px;
}

.ba-reasons {
	padding-top: 250px;
}